//Distances
$margin: 1.75rem;
$margin-bottom: 1.5rem;
$margin-top: 1.5rem;
$margin-left: 2rem;
$margin-right: 2rem;
$padding: 1.75rem;
$padding-bottom: 1.5rem;
$padding-top: 1.5rem;
$padding-left: 2rem;
$padding-right: 2rem;
$border-radius: 0.15625rem;

//Fonts sizes
$text-font-size: 0.85rem;
$title-font-size: 1.5rem;
$subtitle-font-size: 1.25rem;

// Descriptive Colors
$white: #ffffff;
$blue: #0074d9;
$navy: #001f3f;
$red: #ff4136;
$grey: #a4abb3;
$light-grey: rgba(0, 0, 0, .12);
$orange: #f78747;
$black: #000000;

// Menu Colors
$menu-background-color: #e3e9ee;
$menu-item-color: #4b4b4b;
$menu-selected-item: #d2d2d2;
$menu-item-hover-color: #161616;
$menu-item-divider-color: rgba(75, 75, 75, 0.24);

// Functional Colors
$primary--color: $blue;
$secondary--color: $black;

//App General Colors
$background--color: $light-grey;
$text--color: $grey;
$login-banner--color: $navy;
$borders--color: #d5dbe0;
$link--color: $blue;

//Menu Colors

//Buttons colors

