<div class="confirm-password-container">
  <div class="change-password-content">
    <form [formGroup]="passwordForm">
      <!--Password control-->
      <mat-form-field class="change-password-form-field">
        <input autocomplete="off"
               matInput name="newPassword"
               [type]="hideNew ? 'password' : 'text'"
               placeholder="{{'security.profile.changePassword.form-labels.newPassword' | translate}}"
               formControlName="newPassword"
               required>
        <mat-icon class="password-icon"
                  matSuffix (click)="hideNew = !hideNew">{{hideNew ? 'visibility_off' : 'visibility'}}
        </mat-icon>
      </mat-form-field>
      <div class="change-password-strength">
        <password-strength-meter
          (strengthChange)="validatePasswordStrength($event)"
          [password]="formValue.newPassword">
        </password-strength-meter>
      </div>

      <mat-form-field class="change-password-form-field">
        <input autocomplete="off"
               matInput name="changePassword"
               [type]="hideConfirm ? 'password' : 'text'"
               placeholder="{{'security.profile.changePassword.form-labels.confirmPassword' | translate}}"
               formControlName="confirmPassword"
               required>
        <mat-icon class="password-icon"
                  matSuffix (click)="hideConfirm = !hideConfirm">{{hideConfirm ? 'visibility_off' : 'visibility'}}
        </mat-icon>
      </mat-form-field>
    </form>
    <div class="change-password-button-container">
      <button [disabled]="passwordStrengthValue <= 2 || !passwordForm.valid" class="change-password-button"
              type="submit" mat-stroked-button color="primary">
        Cambiar
      </button>
    </div>
  </div>
</div>
