<div fxFlex="100" fxFlex.gt-sm="100">
  <div class="element-options">
    <form class="login-form" [formGroup]="checkForm">
      <div fxLayout="row">
        <div fxFlex="100" fxFlex.gt-sm="100">
          <!--Label control-->
          <mat-form-field class="input-form-field">
            <input autocomplete="off"
                   matInput
                   name="label"
                   type="text"
                   placeholder= "{{'dynamic-form-generator.elementsConfig.checkbox.form.label-control' | translate}}"
                   formControlName="label" required>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex="100" fxFlex.gt-sm="100">
          <!--Name control-->
          <mat-form-field class="input-form-field">
            <input autocomplete="off"
                   matInput name="name"
                   type="text"
                   placeholder="{{'dynamic-form-generator.elementsConfig.checkbox.form.name-control' | translate}}"
                   formControlName="name" required>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex="100" fxFlex.gt-sm="100">
          <!--InputType control-->
            <mat-label class="default-option-label">{{'dynamic-form-generator.elementsConfig.checkbox.form.default-control' | translate}}</mat-label>
            <mat-radio-group class="input-form-field" formControlName="value">
              <mat-radio-button [value]="true">{{'dynamic-form-generator.elementsConfig.checkbox.form.default-controls.true' | translate}}</mat-radio-button>
              <mat-radio-button [value]="false">{{'dynamic-form-generator.elementsConfig.checkbox.form.default-controls.false' | translate}}</mat-radio-button>
            </mat-radio-group>
        </div>
      </div>
    </form>
  </div>
</div>
