<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>{{'security.login.title' | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="login-card-content">
    <div>
      <img src="../../../../../assets/images/security-images/Beach.png" class="security-image-medium">
      <span class="security-image-disclaimer warning-disclaimer">
        <mat-icon class="warning-icon">warning</mat-icon>
        {{'security.login.security-image-disclaimer' | translate}}
      </span>
    </div>
    <form class="login-form" [formGroup]="loginForm" #form="ngForm" (submit)="loginSubmit()">
      <!--Password control-->
      <mat-form-field appearance="outline" class="login-form-field">
        <mat-label>{{'security.login.form-labels.password' | translate}}</mat-label>
        <input matInput
               name="password"
               type="password"
               autocomplete="off"
               twoAutoFocus
               placeholder="{{'security.login.form-labels.password' | translate}}"
               formControlName="password" required>
      </mat-form-field>
      <!--Buttons-->
      <mat-card-actions class="button-container-right">
        <button type="button" mat-raised-button color="secondary" (click)="cancel()">
          {{'buttons.cancel' | translate}}
        </button>
        <button type="submit" [disabled]="loginForm.invalid" mat-raised-button color="primary">
          {{'buttons.continue' | translate}}
        </button>
      </mat-card-actions>
      <mat-error *ngIf="!!error">{{'security.login.errors.unauthorized' | translate}}</mat-error>
    </form>
  </mat-card-content>
  <mat-card-footer>
    <div class="text--right">
      <a class="link-action">{{'security.login.recover-password' | translate}}</a>
    </div>
  </mat-card-footer>
</mat-card>
