@import "constants";
@import "mixins";

.login-card {
  min-width: 35rem;
  min-height: 25rem;
  margin: 0;
  padding: 0;
}

.login-card-content {
  padding: $padding;
  background-color: $white;
}

.security-image-disclaimer {
  width: 24.6rem;
  display: inline-block;
  vertical-align: top;
  margin-left: $margin-left;
}
