<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>{{'security.login.title' | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="login-card-content">
    <form class="login-form changePassword-form" [formGroup]="loginForm" #form="ngForm" (submit)="loginSubmit()">


      <!--Password control-->
      <mat-form-field appearance="outline" class="change-password-form-field">
        <mat-label>{{'security.profile.changePassword.form-labels.newPassword' | translate}}</mat-label>
        <input autocomplete="off"
               matInput name="newPassword"
               twoAutoFocus
               [type]="hideNew ? 'password' : 'text'"
               formControlName="newPassword"
               required>
        <mat-icon class="password-icon"
                  matSuffix (click)="hideNew = !hideNew">{{hideNew ? 'visibility_off' : 'visibility'}}
        </mat-icon>
      </mat-form-field>
      <div class="change-password-strength">
        <password-strength-meter
          [minPasswordLength]="5"
          (strengthChange)="validatePasswordStrength($event)"
          [password]="formValue.newPassword">
        </password-strength-meter>
      </div>

      <mat-form-field appearance="outline" class="change-password-form-field">
        <mat-label>{{'security.profile.changePassword.form-labels.confirmPassword' | translate}}</mat-label>
        <input autocomplete="off"
               matInput name="confirmNewPassword"
               [type]="hideConfirm ? 'password' : 'text'"
               formControlName="confirmNewPassword"
               required>
        <mat-icon class="password-icon"
                  matSuffix (click)="hideConfirm = !hideConfirm">{{hideConfirm ? 'visibility_off' : 'visibility'}}
        </mat-icon>
      </mat-form-field>


      <!--Buttons-->
      <mat-card-actions class="button-container-right">
        <button type="submit" class="change-password-button" [disabled]="passwordStrengthValue <= 1 || !loginForm.valid" mat-raised-button color="primary">
          {{'buttons.continue' | translate}}
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
  <mat-card-footer>
    <div class="text--right">
      <a class="link-action">{{'security.login.recover-password' | translate}}</a>
    </div>
  </mat-card-footer>
</mat-card>
