<div class="confirm-password-container">
  <div class="confirm-password-header">
    <p>
      {{'dialogs.confirmPasswordDialog.title' | translate}}
    </p>
  </div>
  <mat-divider></mat-divider>
  <div class="confirm-password-content">
    <form [formGroup]="passwordForm">
      <!--Password control-->
      <mat-form-field class="confirm-password-form-field">
        <input autocomplete="off"
               matInput name="password"
               [type]="hide ? 'password' : 'text'"
               placeholder="{{'dialogs.confirmPasswordDialog.password' | translate}}"
               formControlName="password">
        <mat-icon class="password-icon"
                  matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
        </mat-icon>
      </mat-form-field>
    </form>
    <div class="confirm-password-button-container">
      <button class="confirm-password-button"
              type="submit" mat-stroked-button color="primary"
              (click)="sendValue()">
              {{'buttons.continue' | translate}}
      </button>
      <button class="cancel-password-button"
              type="submit" mat-dialog-close mat-stroked-button color="primary">
              {{'buttons.cancel' | translate}}
      </button>
    </div>
  </div>
</div>
